:root {
  --desat-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --gray-red: hsl(0, 6%, 24%);
  --active-grad: linear-gradient(50deg, hsl(0%, 0%, 84%), hsl(0%, 37%, 92%));
  --grad: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  font-size: 62.5%;
  font-family: 'Josefin Sans';
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--active-grad);
  /* text-align: center; */
}

/* mobile first*/

/* Primary layout */
.header {
  padding: 3.2rem;
  height: 85px;
  width: 100vw;
}
.hero {
  display: block;
  width: 100vw;
  max-width: 700px;
  height: 250px;
}
.hero .hero__img {
  width: 100%;
  max-height: 250px;
}
.main {
 padding: 7rem 3.2rem;
 text-align: center;
 width: 100vw;
}

/* newletter section */
.newslttr .newslttr__title span{
  font-size: 3.5rem;
  font-weight: 200;
  color: var(--desat-red);
  letter-spacing: 15px;
}
.newslttr .newslttr__title {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--gray-red);
  letter-spacing: 14px;
  line-height: 3.5rem;
  max-width: 390px;
  margin: 0 auto;
}

.newslttr .newslttr__text {
  color: var(--desat-red);
  font-size: 1.3rem;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  line-height: 2rem;
  max-width: 330px;
  margin: 1.5rem auto;
}
.newslttr .newslttr__form {
  position: relative;
  max-width: 315px;
  max-height: 65px;
  margin: 0 auto;
}
.newslttr .newslttr__form .form__email{
  width: 100%;
  height: 48px;
  padding-left: 2.5rem;
  border-radius: 25px;
  border: 1px solid var(--desat-red);
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-family: 'Josefin Sans';
  transition: 500ms border ease-in-out;
}
.newslttr .newslttr__form .form__email:focus {
  border: 2px solid var(--desat-red);
  outline: none;
}
.newslttr .newslttr__form .form__submit{
  position: absolute;
  right: -4px;
  /* bottom: 17px; */
  top: 0rem;
  display: inline-block;
  width: 65px;
  height: 48px;
  border-radius: 25px;
  border: none;
  background-image: var(--grad);
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem var(--desat-red));
  transition: all 700ms ease;
}
.newslttr .newslttr__form .form__submit .submit--good{
  transform: translate(0.2rem,0.2rem);
}
.newslttr .newslttr__form .submit--error{
  position: absolute;
  display: inline-block;
  top: 22%;
  right: 7rem;
}
.newslttr .newslttr__form .form__submit:focus {
  outline: none;
}
.newslttr .newslttr__form .form__submit:hover {
  /* background-image: var(--active-grad); */
  transform: translateX(13px);
  width: 100px;
  background-image: linear-gradient(50deg, hsl(0deg 0% 84%), hsl(0deg 37% 92%));
}
.newslttr .newslttr__form .error-msg{
  padding-left: 2.5rem;
  text-align: left;
  margin-top: 1rem;
  color: var(--desat-red);
  font-size: 1.2rem;
}
/* Utilities */
.newslttr .newslttr__form .form__email::placeholder {
  font-family: "Josefin Sans";
  color: var(--desat-red);
  opacity: 0.5;
}

.none {
  display: none !important;
}